.navbar {
  width: 100%;
  max-width: 1600px;
  height: 100px;
  margin: 0 auto;
  // padding: 20px 25px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: #707070;
}

.logo {
  width: 190px;
  margin: 2.9rem 2rem;
}

.navbar-links {
  display: flex;
  height: 100%;
}

.navbar-links ul {
  display: flex;
  align-items: center;
  margin: auto 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  font-size: 1.4rem;
  color: #707070;
  padding: 1rem 3rem;
}
.navbar-links li a:hover {
  color: white;
}

.navbar-links li:hover {
  background-color: #ff5672;
}

.toggle-button {
  position: absolute;
  top: 4rem;
  right: 2.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #707070;
  border-radius: 10px;
}
.search {
  width: 20px;
  height: 20px;
  fill: #fc758c;
  margin: 10px 30px;
}

@media (max-width: 882px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .logo {
    padding-top: 6px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }


  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }
  .navbar-links li a:hover {
    background-color: #ff5672;
  }
  
  .navbar-links ul li {
    width: 100%;
    text-align: center;
  }
  .navbar-links ul:nth-last-child(-1) {
    display: none;
  }

  .navbar-links ul li a {
    padding: 2rem;
    color: white;
    background-color: #fc758c;
  }

  .navbar-links.active {
    display: flex;
  }
  .search {
    display: none;
  }
}